/* General Styling */
body {
    font-family: LEMONMILK, sans-serif;
    line-height: 3.0;
    margin: 20px;
    padding: 0;
    background-color: #2c070c;
}

.container {
    width: 95%;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #3a0303;
}

a {
    text-decoration: none;
}

.btn {
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 7rem;
    text-align: center;
    display: inline-block;
    margin: 5px 0;
}

.btn-primary {
    background-color: #61101b;
    color: white;
}

.btn-link {
    color: #61101b;
}

section {
    padding: 50px 0;
}

/* Hero Section */
.hero-section {
    background: url('images/MAIN\ BG\ .png') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 280px;
    padding: 350px 0;
}

.hero-section p {
    font-size: 10rem;
    padding: 50px 0;
    margin-top: 1590px;
}

/* Services Section */
.services-section {
    background-color: #ffffff;
    text-align: center;
     font-size: 10rem;
}

.service-grid {
    display: flex;
    justify-content: space-around;
    margin-top: -300px;
}

.service-item {
    width: 80%;
    padding: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.service-item img {
    width: 550px;
    height: 500px;
}

.service-item h3 {
    font-size: 8rem;
    margin-top: -80px;
}

.service-item p {
    font-size: 6rem;
    margin-top: -50px;
}

/* Portfolio Section */
.portfolio-section {
    background-color: #f9f9f9;
    text-align: center;
     font-size: 10rem;
     gap: 10px;
}

.portfolio-grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 5rem;
}

.portfolio-item {
    width: 35%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 0px;
    text-align: center;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item h3 {
    font-size: rem;
    margin-top: -50px;
}

/* Testimonials Section */
.testimonials-section {
    background-color: #ffffff;
    text-align: center;
    text-align: center;
     font-size: 10rem;
}

.testimonials-slider {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.testimonial {
    width: 40%;
    font-size: 5rem;
    background-color: #f4f4f4;
    padding: 900px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.testimonial cite {
    display: block;
    font-style: italic;
    margin-top: 10px;
}

/* Contact Section */
.contact-section {
    background-color: #61101b;
    color: white;
    text-align: center;
     font-size: 8rem;
}

footer {
    background-color: #61101b;
    color: white;
    padding: 200px;
    text-align: center;
    text-align: center;
     font-size: 7rem;
}